[
  {
    "name": "Cyberpunk 2077",
    "exe": "Cyberpunk2077.exe",
    "mode": "Game Mode",
    "fanSpeed": 5000
  },
  {
    "name": "Elden Ring",
    "exe": "eldenring.exe",
    "mode": "Game Mode",
    "fanSpeed": 5000
  },
  {
    "name": "FL Studio",
    "exe": "FL64.exe",
    "mode": "Audio Mode",
    "fanSpeed": 3500
  },
  {
    "name": "Ableton Live",
    "exe": "Live.exe",
    "mode": "Audio Mode",
    "fanSpeed": 3500
  },
  {
    "name": "Bitwig Studio",
    "exe": "BitwigStudio.exe",
    "mode": "Audio Mode",
    "fanSpeed": 3500
  }
]
